@import "./vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: $text;
}

.visually-hidden {
  display: none;
}

.service__title {
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0 auto;
}



@media screen and (max-device-width: 1024px) {
  .container {
    width: 80%;
  }
}

@import "./blocks/header.scss";
@import "./blocks/about.scss";
@import "./blocks/stats.scss";
@import "./blocks/products.scss";
@import "./blocks/team.scss";
@import "./blocks/showcase.scss";
@import "./blocks/footer.scss";

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 10%;
  z-index: 100;

  border-top: 0;
  background-color: #1c1c1c;
}

.stickyWindow {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 10%;
  z-index: 100;

  border-top: 0;
}