@import "../vars";
@import "../fonts";
@import "../mixins";

.footer {
  padding: 50px 0;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  &__title {
    @include sectionTitle();
    margin-bottom: 50px;
  }
}

.link__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link__list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-shrink: 1;
  flex-basis: fill;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  li {
    margin-bottom: 10px;
    font-size: 18px;
    a {
      color: #fff;
      font-family: 'RalRegular', sans-serif;
      font-size: 18px;
      &:hover {
        text-decoration: underline;
      }
    }
    &:first-child {
      font-family: 'RalBold', sans-serif;
      font-size: 18px;
    }
  }
}

.link__list:nth-child(3) {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;

    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.fb, .linkedin,
.inst, .twitter {
  display: block;
  width: 28px;
  height: 28px;
  background-size: 28px !important;
}
.fb {
  background: url("../../img/icons/facebook.svg") no-repeat;
}
.linkedin {
  background: url("../../img/icons/linkedin.svg") no-repeat;
}
.inst {
  background: url("../../img/icons/instagram.svg") no-repeat;
}
.twitter {
  background: url("../../img/icons/twitter.svg") no-repeat;
}

@media screen and (max-width: 1200px) {
  .link__map {
    margin-top: 20px;
  }
}

@media screen and (max-width: 568px) {
  .link__list {
    li {
      font-size: 14px;
      a {
        font-size: 14px;
      }
    }
  }
  .link__list:nth-child(3) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .link__map {
    width: 258px;
  }
  div.link__list {
    flex-flow: wrap;
  }
  img.link__map {
    width: 100%;
  }
}