@import "../vars";
@import "../fonts";
@import "../mixins";

.featured-products {
  padding: 50px 0;
  text-align: center;
  &__title {
    @include sectionTitle();
    margin-bottom: 18px;
  }
  &__intro {
    @include sectionSubTitle();
    margin-bottom: 40px;
  }
}

.product__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-device-width: 568px) {
  .featured-products {
    &__title {
      font-size: 22px;
    }
    &__intro {
      font-size: 16px;
    }
  }

  .product__list {
    justify-content: center;
  }

  .product__title {
    font-size: 20px;
  }

  .product__price {
    font-size: 20px;
  }

  .product__link {
    font-size: 16px;
  }
}

.product__item {
  margin-right: 10px;
  margin-bottom: 30px;
  border-radius: 5px;

  flex-basis: fill;
  flex-grow: 1;
}

.product__item:last-child {
  margin-right: 0;
  justify-self: flex-start;
}

.product__img {
  width: 298px;
}

.product__title {
  font-size: 28px;
  font-family: 'RalBold', sans-serif;
}

.product__price {
  font-size: $productTitleSize;
  font-family: 'RalSmBold', sans-serif;
  margin-bottom: 20px;
}

.product__link {
  text-decoration: underline;
  font-family: 'RalSmBold', sans-serif;
  font-size: 18px;
}