@import "../vars";
@import "../fonts";
@import "../mixins";

.team {
  padding: 50px 0;
  background-color: #ededed;
  text-align: center;
  &__title {
    @include sectionTitle();
    margin-bottom: 18px;
  }
  &__intro {
    @include sectionSubTitle();
    margin-bottom: 50px;
  }
}

.people__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.people {
  &__img {
    width: 100%;
  }
  &__name {
    font-family: 'RalXBold', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  &__profession {
    font-family: 'RalSmBold', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1200px) {
  .people {
    &__name {
      font-size: 22px;
    }
    &__profession {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 568px) {
  .team {
    &__title {
      font-size: 22px;
    }
    &__intro {
      font-size: 18px;
    }
  }
  .people {
    &__item {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__img {
      width: 125px;
    }
    &__name {
      margin-top: 5px;
      font-size: 18px;
    }
    &__profession {
      font-size: 16px;
    }
  }
  
  
}

@media screen and (max-width: 468px) {
  .people {
    &__list {
      flex-direction: column;
      align-items: center;
    }
    &__img {
      width: 100%;
    }
    

  }
}